
body {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    margin: 0 auto;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background: black;
    color: white;

}

.typewrite {
  text-decoration: none;
  color: inherit;
}
.container {
    display: flex;
    margin: 0 auto;
}
.container:video {
    margin: 0 auto;
    width: 120%;
    height: 240px;
    width: 480px;
    margin-bottom: .2em;
}
.search-bar {
    margin: 0px auto;
    width: 800px;
    height: 40px;
    margin-bottom: 1em;
    border: 1px solid #5f6367;
    border-radius: 25px;
}
.dark {
    margin: 0px auto;
    margin-bottom: 15px;
    font-size: 20px;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff;
}
.moving-text {
    position: absolute;
    left: 52px;
    top: 200.5px;
    font-family: Arial;
    font-size: 20px;
    line-height: 28px;
    color: white;
    width: 447px;
    height: 23px;
    padding: 0;
}
.mag {
    width: 800px;
    height: 42px;
    margin: 0 auto;
    box-shadow: 0px 5px 10px rgba(black, 50%);
    z-index: 200;
}
.lucky {
      appearance: none;
      border: none;
      cursor: pointer;
      width: 170px;
      height: 55px;
      box-shadow: 0px 5px 10px rgba(black, 40%);
      background: #636364;
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all .25s ease-out;
      margin: 0 auto;
      text-align: center;
      align-items: center;
      transition: 0.2s ease-out;
      color: white;
      font-size: 18px;
      margin-bottom: 1em;
      border-radius: 10px;
}
.lucky:hover {
    background-position: left bottom;
    background: #8a8a8a;
    width: 180px;
}
.lucky:p {
    width: 120px;
    height: 20px;
    line-height: 15px;
    text-align: center;
    font-family: Arial;
    margin: 0 auto;
    color: white;
    margin-top: -10px;
}

#lucky:hover {
    -webkit-animation: zomg 1.5s infinite;
    animation: zomg 1.5s infinite;
}
  
@-webkit-keyframes zomg {
  0%, 100% { color: #7ccdea; }
  16%      { color: #0074d9; }
  32%      { color: #2ecc40; }
  48%      { color: #ffdc00; }
  64%      { color: #b10dc9; }
  80%      { color: #ff4136; }
}
@keyframes zomg {
  0%, 100% { color: #7ccdea; }
  16%      { color: #0074d9; }
  32%      { color: #2ecc40; }
  48%      { color: #ffdc00; }
  64%      { color: #b10dc9; }
  80%      { color: #ff4136; }
}

#search:hover {
  -webkit-animation: green-fade 1.0s infinite;
  animation: green-fade 1.0s infinite;
}

@-webkit-keyframes green-fade {
  0%, 100% { color: #2ecc40; }
}
@keyframes green-fade {
  0%, 100% { color: #2ecc40; }
}


.fade-enter-active, .fade-leave-active {
  transition: opacity 0.01s
}

.fade-enter, .fade-leave-to {
  opacity: 0
}


/* The fast, new way! */
.fast-transition {
  border-radius: 10px;
  position: relative; /* For positioning the pseudo-element */
  box-shadow: 0 0 10px 0 rgba(42, 41, 59, 0.3);
}

.fast-transition::before {
  /* Position the pseudo-element. */
  border-radius: 10px;
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Create the box shadow at expanded size. */
  box-shadow: 0 10px 30px 0 rgba(139, 139, 139, 0.5);

  /* Hidden by default. */
  opacity: 0;
  transition: opacity 500ms;
}

.fast-transition:hover::before {
  /* Show the pseudo-element on hover. */
  opacity: 1;
}

#dark-mode-toggle {
  width: 25%;
  height: 50px;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
  background: rgb(252, 50, 50);
  outline: none;
  border: none;
  color: white;
  box-shadow: 1px 14px 11px -10px rgba(0,0,0,0.68);
-webkit-box-shadow: 1px 14px 11px -10px rgba(0,0,0,0.68);
-moz-box-shadow: 1px 14px 11px -10px rgba(0,0,0,0.68);
text-shadow:
0 0 7px #fff,
0 0 21px #fff;
}
  #dark-mode-toggle:hover {
    cursor: pointer;
    box-shadow: 1px 14px 15px 1px rgba(0,0,0,0.68);
  -webkit-box-shadow: 1px 14px 15px 1px rgba(0,0,0,0.68);
  -moz-box-shadow: 1px 14px 15px 1px rgba(0,0,0,0.68);
  transition: all .25s ease-out;
  width: 26%;

  }
