header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #C1C1C1;
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    overflow-x: hidden;
  }
  .top-row { 
      display: flex;
      flex-direction: row;
      margin-bottom: -1em;
  }
  video {
      position: relative;
      width: 85px;
      height: 56px;
      left: 10px;
  }
  .search-bar { 
      position: relative;
      left: 30px;
      top: 5px;
      display: flex;
      background: white;
      width: 47vw;
      height: 0px;
  }
  .bar {
      width: 40vw;
      height: 32.5ßpx;
      position: absolute;
      top: 0px;
      left: 15px;
      border: 1px solid #5f6367;
      border-radius: 25px;
      }
  .bar-p {
      position: absolute;
      left: 55px;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      font-family: Arial;
      font-size: 20px;
      line-height: 28px;
      width: 447px;
      height: 23px;
      padding: 0;
  }
  .tabs { 
      list-style-type: none;
      display: flex;
      flex-direction: row;
      position: relative;
      margin-bottom: 0;
      left: 100px;
  }
  .tab {
      font-family: Arial;
      margin-right: 5em;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
  }
  .active {
      color: #4C90F6;
      border-bottom: 2px solid #4C90F6;
  }
  body {
      display: flex;
      flex-direction: column;
      background: black;
      color: white;
      overflow-x: hidden;
      font-family: Arial;
      overflow-x: hidden;
  }

  
  :root {
    --marquee-width: 80vw;
    --marquee-height: 4vh;
    /* --marquee-elements: 12; */ /* defined with JavaScript */
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
  }
  
  .marquee {
    height: var(--marquee-height);
    color: #eee;
    overflow: hidden;
    position: relative;
    background-color: black;
    border-bottom: 1px solid white;
  }
  .marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
  }
  .marquee:before {
    left: 0;
    /* background: linear-gradient(to right, #111 0%, transparent 100%); */
  }
  .marquee:after {
    right: 0;
    /* background: linear-gradient(to left, #111 0%, transparent 100%); */
  }
  .marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
    font-size: 18px;
    position: relative;
    top: -45%;
    color: #44aa4b;
  }
  /* .marquee-content:hover {
    animation-play-state: paused;
  } */
  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
  }
  .marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    white-space: nowrap;
  }
  
  .marquee-content li img {
    width: 100%;
    /* height: 100%; */
  }
  
  @media (max-width: 600px) {
    html { font-size: 10px; }
    :root {
      --marquee-width: 100vw;
      --marquee-height: 16vh;
      --marquee-elements-displayed: 3;
    }
    .marquee:before, .marquee:after { width: 5rem; }
  }

  .banner video {
      width: 150px;
      height: 100px;
      position: relative;
      top: 0px;
      left: -5px;
  }

  button:hover {
    cursor: pointer;
  }

  .type {
    color: white; 
    border: none; 
    border-radius: 5px; 
    width: 100px; 
    height : 40px; 
    font-size: 15px; 
    margin-right: 20px
  }

  .type:hover {
    -webkit-box-shadow: 0px 1px 15px 4px rgba(140,140,140,0.88); 
    box-shadow: 0px 1px 15px 4px rgba(140,140,140,0.88);
  }

  .sides {
    box-shadow: 120 px 80 px 40 px 20 px #0ff;
  }

  @-webkit-keyframes glow {
    to {
         border-color: #44aa4b;
    -webkit-box-shadow: 0 2px 15px #44aa4b;
       -moz-box-shadow: 0 2px 15px #44aa4b;
            box-shadow: 0 2px 15px #44aa4b;
    }
}

.myGlower {
    background-color: #ccc;
    border: 1px solid transparent;
    -webkit-animation: glow 1.0s infinite alternate;  
     -webkit-transition: border 1.0s linear, box-shadow 1.0s linear;
       -moz-transition: border 1.0s linear, box-shadow 1.0s linear;
            transition: border 1.0s linear, box-shadow 1.0s linear;
}

#dark-mode-toggle {
  display: block;
  margin-left:  auto;
  margin-right: 20px;
  margin-top: 10px;
  width: 10%;
  height: 45px;
  /* margin: 0 auto; */
  font-size: 15px;
  /* text-align: center; */
  border-radius: 10px;
  background: rgb(252, 50, 50);
  outline: none;
  border: none;
  color: white;
  box-shadow: 1px 14px 11px -10px rgba(0,0,0,0.68);
-webkit-box-shadow: 1px 14px 11px -10px rgba(0,0,0,0.68);
-moz-box-shadow: 1px 14px 11px -10px rgba(0,0,0,0.68);
text-shadow:
0 0 7px #fff,
0 0 21px #fff;
}
  #dark-mode-toggle:hover {
    cursor: pointer;
    box-shadow: 1px 14px 15px 1px rgba(0,0,0,0.68);
  -webkit-box-shadow: 1px 14px 15px 1px rgba(0,0,0,0.68);
  -moz-box-shadow: 1px 14px 15px 1px rgba(0,0,0,0.68);
  transition: all .25s ease-out;
  width: 11%;

  }

a {
  color:white
}