<head>
  <link rel="stylesheet" href="../style/portfolio.css">
  <link rel="shortcut icon" href="../favicon.ico">
  <title>Porfolio</title>
</head>
<header id="myHeader">
  <div class="top-row" id="quant">
    <a href="../index.html">
      <video disableRemotePlayback autoplay muted loop id="myVideo">
        <source src="../assets/DD-unscreen.mp4" type="video/mp4">
      </video>
    </a>
    <div class="search-bar">
      <img class="bar" src="../assets/bar-dark.png" alt="bar">
      <p class="bar-p">Really cool coding projects</p>
    </div>
    <button id="dark-mode-toggle" class="dark-mode-toggle">Toggle Light Mode</button>

  </div>
  <ul class="tabs">
    <li class="tab"><a style="text-decoration: none; color: inherit" href="../templates/about.html">All</a></li>
    <li class="tab"><a style="text-decoration: none; color: inherit" href="../templates/wiki.html">About</a></li>
    <li class="tab"><a style="text-decoration: none; color: inherit" href="../templates/documents.html">Documents</a></li>
    <li class="tab active"><a style="text-decoration: none; color: inherit"
        href="../templates/portfolio.html">Portfolio</a></li>
    <li class="tab"><a style="text-decoration: none; color: inherit" href="../templates/contact.html">Contact Me</a>
    </li>
  </ul>
</header>

<body>
  <center>
    <div class="banner">

      <video disableRemotePlayback autoplay muted loop id="myVideo2">
        <source src="../assets/joshtube-dark1.mp4" type="video/mp4">
      </video>
    </div>
  </center>
  <ul class="videos">
    <li class="video y">
      <div class="video-panel">
        <iframe
          src="https://www.youtube.com/embed/1H-qpriIazE?rel=0?version=3&autoplay=1&mute=1&loop=1&controls=0&showinfo=0&playlist=1H-qpriIazE"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="info">
        <h3 >QuantBot (Python, MySQL, HTML, CSS, etc.)</h3>
        <p>As a summer project, a friend and I created a python bot that would scrape web articles about companies and
          make buy/sell decisions for that company's stock based on sentiment and time analysis. This was done as a
          research project to see if there is a link between news publications about companies and the prices of their
          stocks.</p>
        <div class="full"><a href="https://github.com/alanb43/stock-trader" style="text-decoration: none; color: white"
            target="_blank">
            <p style="font-size: 15px">Full Code</p>
          </a></div>
      </div>
    </li>
    <li class="video y">
      <div class="video-panel" id="port">
        <iframe
          src="https://www.youtube.com/embed/YXGytqP3W-M?rel=0?version=3&autoplay=1&mute=1&loop=1&controls=0&showinfo=0&playlist=YXGytqP3W-M"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="info">
        <h3>Piazza Post Classifier (C++)</h3>
        <p>As school project, this algorithm uses supervised machine learning to classify the subject of a given forum
          post based on which class project it corresponds to.</p>
      </div>
    </li>
    <li class="video b">
      <div class="video-panel" >
        <iframe
          src="https://www.youtube.com/embed/rhS8gi09UvQ?rel=0?version=3&autoplay=1&loop=1&controls=0&mute=1&showinfo=0&playlist=rhS8gi09UvQ"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="info">
        <h3>This Website! (HTML / CSS / JS)</h3>
        <p>In an attempt to stand out to recruiters, this once summer project has become a periodic passion project where I get to test all the new things I learn and ideas I have. My goal for this website is to show off the work I've done and encapsulate who I am as a person and a developer.
        </p>
        <div class="full"><a href="https://github.com/jcun-umich/personal-website"
            style="text-decoration: none; color: white" target="_blank">
            <p style="font-size: 15px">Full Code</p>
          </a></div>
      </div>
    </li>
    <li class="video y">
      <div class="video-panel">
        <iframe
          src="https://www.youtube.com/embed/vRVhWzhevtM?rel=0?version=3&autoplay=1&loop=1&controls=0&mute=1&showinfo=0&playlist=vRVhWzhevtM"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="info">
        <h3>Discord Bot (Python)</h3>
        <p>This bot will attempt to match you will the college that best fits your preferences and academic
          qualifications by estimating the odds of acceptance for each school in your state and taking into account each
          school's ranking in your specified major.</p>
        <div class="full"><a href="https://github.com/jcun-umich/College-Admissions-Bot"
            style="text-decoration: none; color: white" target="_blank">
            <p style="font-size: 15px">Full Code</p>
          </a></div>
      </div>
    </li>
    <li class="video r">
      <div class="video-panel">
        <iframe
          src="https://www.youtube.com/embed/yFHqy9TTFYw?rel=0?version=3&autoplay=1&loop=1&controls=0&mute=1&showinfo=0&playlist=yFHqy9TTFYw"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="info">
        <h3>Route Calculator (C++)</h3>
        <p>Originally part of a school project, the code is used to help astronauts navigate from point A to B by
          locating the nearest planets and creating a route to follow. Could be developed into a makeshift GPS system.
        </p>
      </div>
    </li>
    <li class="video" style="height: 225px">
      <div class="info2">
        <h3 style="margin-bottom: -5px;">Connect-4 (Python / Pygame)</h3>
        <p>You can choose to play with a friend or against the Computer, AI with four difficultues to choose from that
          uses a MiniMax algorithm to choose its moves. This was a fun python refresh for me and an introduction to AI
          in games.</p>
        <div class="full"><a href="https://github.com/JCUN23/general-portfolio/blob/main/connect_four.py"
            style="text-decoration: none; color: white" target="_blank">
            <p style="font-size: 15px">Full Code</p>
          </a></div>
      </div>
    </li>
    <li class="video" style="height: 225px">
      <div class="info2">
        <h3 style="margin-bottom: -5px;">Black Jack (Python)</h3>
        <p>Classic card game using random number generators and basic Python to create a dealer. This was a fun,
          independent weekend project!</p>
        <div class="full"><a href="https://github.com/JCUN23/general-portfolio/blob/main/blackjack.py"
            style="text-decoration: none; color: white" target="_blank">
            <p style="font-size: 15px">Full Code</p>
          </a></div>
      </div>
    </li>
    <li class="video" style="height: 225px">
      <div class="info2">
        <h3 style="margin-bottom: -5px;">Euchre (C++)</h3>
        <p>Classic card game that can be played with other people or against AI that runs a simple strategy. This was a
          class project focuses on dyanmic memory, polymorphism, and OOP.</p>
      </div>
    </li>
    <li class="video" style="height: 225px">
      <div class="info2">
        <h3 style="margin-bottom: -5px;">Hangman (C++)</h3>
        <p>Using only C++ a guessing word is randomly selected from a database and the player has limited chances to
          figure out what the word is. This was another fun weekend project. In the future, I'd like to combine this
          with another prrogramming language to add a visual element.</p>
      </div>
    </li>

  </ul>
  <script src="../style/darkmode.js"></script>
</body>