<head>
  <link rel="stylesheet" href="../style/resume.css">
  <link rel="shortcut icon" href="../favicon.ico">
  <title>Resume</title>
</head>
<header id="myHeader">
  <div class="top-row">
    <a href="../index.html">
      <video disableRemotePlayback autoplay muted loop id="myVideo">
        <source src="../assets/DD-unscreen.mp4" type="video/mp4">
      </video>
    </a>
    <div class="search-bar">
      <img class="bar" src="../assets/bar-dark.png" alt="bar">
      <p class="bar-p">Resumes that meet everything I'm looking for</p>
    </div>
    <button id="dark-mode-toggle" class="dark-mode-toggle">Toggle Light Mode</button>

  </div>
  <ul class="tabs">
    <li class="tab"><a style="text-decoration: none; color: inherit" href="../templates/about.html">All</a></li>
    <li class="tab"><a style="text-decoration: none; color: inherit" href="../templates/wiki.html">About</a></li>
    <li class="tab active"><a style="text-decoration: none; color: inherit" href="../templates/resume.html">Resume</a>
    </li>
    <li class="tab"><a style="text-decoration: none; color: inherit" href="../templates/portfolio.html">Portfolio</a>
    </li>
    <li class="tab"><a style="text-decoration: none; color: inherit" href="../templates/contact.html">Contact Me</a>
    </li>
  </ul>
</header>

<body>
  <div class="top-bar">
    <img src="../assets/scholar-dark.png" alt="">
    <p>About 1 results (.02 seconds)</p>
  </div>
  <ul style="list-style-type: none" class="columns">
    <li class="left-col">
      <ul style="list-style-type: none" class="dates">
        <li class="date" style="color: red">Any time</li>
        <li class="date">Since 2020</li>
        <li class="date">Since 2019</li>
        <li class="date">Since 2016</li>
        <li class="date">Custom range...</li>
      </ul>
      <div class="sort">
        <p style="color: red">Sort by relevance</p>
        <p>Sort by date</p>
      </div>
    </li>
    <li class="right-col">
      <div class="result">
        <a href="../templates/resume2.html" style="text-decoration: none; color: inherit">
          <h1 style="    color: #059bff;">[RESUME] <span style="font-weight: bold;">Josh Cunningham</span></h1>
        </a>
        <p style="color: #006D12; margin-bottom: -15px">J Cunningham - 2020 - joshcunningham.com</p>
        <p>Really well made resume that covers the education, work and volunteer experience, and community involvement
          of one Josh Cunningham.</p>
      </div>
    </li>
  </ul>
  <script src="../style/darkmode.js"></script>
</body>