<head>
  <link rel="stylesheet" href="../style/wiki.css">
</head>
<header id="myHeader">
  <div class="top-row">
    <a href="../index.html">
      <video disableRemotePlayback autoplay muted loop id="myVideo">
        <source src="../assets/DD-unscreen.mp4" type="video/mp4">
      </video>
    </a>
    <div class="search-bar">
      <img class="bar" src="../assets/bar-dark.png" alt="bar">
      <p class="bar-p">Who is Josh Cunningham?</p>
    </div>
    <button id="myButton" onclick="Buttontoggle()" value="DARK">Toggle Light Mode</button>

  </div>
  <ul class="tabs">
    <li class="tab"><a style="text-decoration: none; color: inherit" href="../templates/about.html">All</a></li>
    <li class="tab active"><a style="text-decoration: none; color: inherit" href="../templates/wiki.html">About</a></li>
    <li class="tab"><a style="text-decoration: none; color: inherit" href="../templates/resume.html">Resume</a></li>
    <li class="tab"><a style="text-decoration: none; color: inherit" href="../templates/portfolio.html">Portfolio</a>
    </li>
    <li class="tab"><a style="text-decoration: none; color: inherit" href="../templates/contact.html">Contact Me</a>
    </li>
  </ul>
</header>

<body>
  <ul class="divs">
    <li class="left-side">
      <img src="../assets/joshipedia-dark.png" alt="" id="myVideo2">
    <li class="right-side" style="margin-left: 10px">
      <div class="title-card">
        <h2>Josh Cunningham</h2>
      </div>
      <p style="font-size: 18px; margin-top: 3px">From Joshipedia</p>
      <ul class="top-right">
        <li class="left-top-right">
          <p>Josh Cunningham is a third year student at the College of Engineering at the <a
              href="https://en.wikipedia.org/wiki/University_of_Michigan" target="_blank"
              style="text-decoration: none; color: #059bff">University of Michigan</a>, majoring in <a
              href="https://en.wikipedia.org/wiki/Computer_science" target="_blank"
              style="text-decoration: none; color: #059bff">Computer Science</a>. He is currently a Software Development
            Intern at Qualtrics in Seattle, Washington. Below are the variety of programming languages and tools he is
            prepared to use to solve any problem he will face in his career. His ultimate goal in his career is to start
            a business. He doesn’t know what shape that aspiration will take, so he is trying to become knowledgeable in
            all aspects of development whether that be web development, <a
              href="https://en.wikipedia.org/wiki/Software_development" target="_blank"
              style="text-decoration: none; color: #059bff">software development</a>, or in data engineering. He is
            confident that as his arsenal of tools in the table below grows, he will be ready to succeed.</p>
          <div class="contents" id="contents">
            <h4>Contents</h4>
            <ol>
              <li class="content-item"><a href="#skills"
                  style="text-decoration: none;     color: #059bff;">Skills</a></li>
              <li class="content-item"><a href="#high-school"
                  style="text-decoration: none;     color: #059bff;">High School</a></li>
              <li class="content-item"><a href="#college"
                  style="text-decoration: none;    color: #059bff;">College</a></li>
              <li class="content-item"><a href="#career"
                  style="text-decoration: none;     color: #059bff;">Career</a></li>
              <li class="content-item"><a href="#external-links"
                  style="text-decoration: none;     color: #059bff;">External Links</a></li>
            </ol>
          </div>
        </li>
        <li class="right-top-right" id = "right">
          <h4>Josh Cunningham</h4>
          <img class="avatar" width="150px" height="150px" src="..//assets/bluetie2.png" alt="pic">
          <p><span style="font-weight: bold">Name:</span> Joshua Ryan Cunningham</p>
          <p><span style="font-weight: bold">Born:</span> February 23</p>
          <p><span style="font-weight: bold">Education:</span> University of Michigan</p>
          <p><span style="font-weight: bold">Occupation:</span> Student, Intern, Future Engineer</p>
          <p><span style="font-weight: bold">Net Worth:</span> -$30,000 in Student Loan Debt</p>
          <p><span style="font-weight: bold">Children:</span> 0</p>
        </li>
      </ul>
      <div class="pages">
        <div id="skills" class="skills">
          <h4>Skills</h4>
          <div class="skill-table">
            <p>Below are the variety of programming languages and tools he is prepared to use to solve any problem he
              will face in his career.</p>
            <table width="80%">
              <tr class="table">
                <th>Requirement</th>
                <th>Solution</th>
              </tr>
              <tr>
                <td>Design</td>
                <td>Photoshop, Figma, After Effects</td>
              </tr>
              <tr>
                <td>Front-end</td>
                <td>Vue.js, HTML, CSS, JavaScript, ReactJS</td>
              </tr>
              <tr>
                <td>Software Dev.</td>
                <td>Python, C++, MATLab, Java, SQL, R</td>
              </tr>
            </table>
          </div>
        </div>
        <div id="high-school" class="page">
          <h4>High School</h4>
          <div class="words">
            <p>From a young age, he looked for ways to challenge himself academically. So when he heard about the magnet
              school in his area that uses the rigourous <a href="https://en.wikipedia.org/wiki/IB_Diploma_Programme"
                target="_blank" style="text-decoration: none; color: #059bff">IB Program</a>, the International Academy
              of Macomb, he knew that was the right place for him. While the program prepared him well for college, the
              most important takeaway from his high school experience was his development as a thinker. He was taught to
              think critically, not only looking at what happens in the world around him but also why and how those
              things happen. He thinks this will be an integral tool in both his higher education and his career as an
              engineer.</p>
            <img src="https://www.candgnews.com/storage/articles/66524/ParentGroup.jpg" alt="high-school">
          </div>
        </div>
        <div id="college" class="page">
          <h4>College</h4>
          <div class="words">
            <p>Continuing to pursue a challenging academic experience, he decided to attend the highly esteemed College
              of Engineering at the <a href="https://en.wikipedia.org/wiki/University_of_Michigan" target="_blank"
                style="text-decoration: none; color: #059bff">University of Michigan</a>. For the first time he is
              surrounded by people who truly share his passion for learning as well as engineering. So far, his time at
              college has taught him to take a more conceptual approach to engineering and push his limits as a student.
              His professors and superiors care more about how much he's learning rather than what his report card looks
              like. While this was an uncomfortable adjustment at first, it is a welcome one. He has also developed as
              an adult, with more responsibilities than ever.</p>
            <img src="https://arts.umich.edu/wp-content/uploads/sites/35/mc-image-cache/2015/11/library-law-2.jpg"
              alt="law-library">
          </div>
        </div>
        <div id="career" class="page">
          <h4>Career</h4>
          <div class="words">
            <p>At this point in his life he doesn't know what his career will look like exactly. He does know that he is
              actively working to prepare himself for whatever that career turns out to be. In college, he's taught
              software developement. On his own, he teaches himself <a
                href="https://en.wikipedia.org/wiki/Web_development" target="_blank"
                style="text-decoration: none; color: #059bff">web development</a> and interns as a software developer to
              make himself a well-rounded engineer. He also intends to pursue Data Science and <a
                href="https://en.wikipedia.org/wiki/Artificial_intelligence" target="_blank"
                style="text-decoration: none; color: #059bff">Artificial Inteliigence</a> in school as he knows that
              when he graduates being well-versed in these fields will be an invaluable resource for him as an employee.
              No matter what shape his future takes, he knows that he will be ready.</p>
            <img src="https://al.nd.edu/assets/380450/1000x562/bacs_code.jpg" alt="coding">
          </div>
        </div>
        <div id="external-links" class="external-links">
          <h4>External Links</h4>
          <div class="links">
            <p>LinkedIn: <a style="    color: #059bff;"
                href="https://www.linkedin.com/in/joshua-cunningham-923622193/">https://www.linkedin.com/in/joshua-cunningham-923622193/</a>
            </p>
            <p>GitHub: <a style="    color: #059bff;"
                href="https://github.com/jcun-umich">https://github.com/jcun-umich</a></p>
            <p>Instagram: <a style="    color: #059bff;"
                href="https://www.instagram.com/jshcnnnghm/">https://www.instagram.com/jshcnnnghm/</a></p>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <script>
    function Buttontoggle() {
      var t = document.getElementById("myButton");
      var logo = document.getElementById("myVideo");
      var body = document.body;
      var top_row = document.getElementById("myHeader");
      var img = document.getElementById("myVideo2")
      var contents = document.getElementById("contents");
      var right = document.getElementById("right")
      var table = document.getElementsByClassName("table");
      if (t.value == "DARK") {
        body.style.background = "white";
        body.style.color = "black";
        
        t.value = "LIGHT";
        t.innerText = "Toggle Dark Mode";

        logo.src = "../assets/logo-light.mp4";

        top_row.style.background = "white";
        top_row.style.color = "black";

        img.src = "../assets/joshipedia-light.png";

        contents.style.border = "1px solid black";
        right.style.border = "1px solid black";

        for (let i = 0; i < table.size; i++) {
          table[i].style.border = "1px solid black";
        }

      }
      else {
        body.style.background = "black";
        body.style.color = "white";

        t.value = "DARK";
        t.innerText = "Toggle Light Mode";

        logo.src = "../assets/DD-unscreen.mp4";

        top_row.style.background = "black";
        top_row.style.color = "white";

        img.src = "../assets/joshipedia-dark.png";

        contents.style.border = "1px solid white";
        right.style.border = "1px solid white";

        for (let i = 0; i < table.size; i++) {
          table[i].style.border = "1px solid white";
        }
      }
    }
  </script>
</body>